<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebServer</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;" class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="datacenter">
                <span class="oi oi-cloud" aria-hidden="true"></span> Data Center
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="live">
                <span class="oi oi-home" aria-hidden="true"></span> Live
            </NavLink>
        </li>
    </ul>
</div>


<div style="position: fixed; bottom: 0; color: ghostwhite; font-family: Arial; font-size: 14px">
    <div style="font-family: Anton">Powered by:<br /></div>
    Matas Czepła<br>
    Mateusz Grabik<br>
    Michał Pleszkun<br>
    Mateusz Rutkowski<br>
    Karolina Siepietowska
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
